<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.scm.master.mapper.BomMapper">

    <resultMap id="BomResultMap" type="com.yedam.scm.vo.BomVO">
        <id property="bomId" column="BOM_ID"/>
        <result property="bomVer" column="BOM_VERSION"/>
        <result property="effectiveDate" column="EFFECTIVE_DATE"/>
        <result property="expireDate" column="EXPIRE_DATE"/>
        <result property="prodId" column="PROD_ID"/>
        <result property="matId" column="MAT_ID"/>
        <result property="createdAt" column="CREATED_AT"/>
        <result property="qty" column="QTY"/>
        <association property="material" javaType="com.yedam.scm.vo.MaterialVO">
            <result property="matName" column="MAT_NAME"/>
            <result property="spec" column="SPEC"/>
            <result property="unit" column="UNIT"/>
        </association>
    </resultMap>

    <!-- BOM 조회 -->

<select id="getBomByProdId" resultMap="BomResultMap" parameterType="string">
    SELECT b.BOM_ID, b.BOM_VERSION, b.EFFECTIVE_DATE, b.EXPIRE_DATE,
           b.PROD_ID, b.MAT_ID, b.CREATED_AT, b.QTY,
           m.MAT_NAME, m.SPEC, m.UNIT
    FROM BOM b
    LEFT JOIN MATERIAL m ON b.MAT_ID = m.MAT_ID
    WHERE b.PROD_ID = #{prodId}
    ORDER BY b.BOM_VERSION, b.BOM_ID
</select>



    <!-- BOM 등록 -->
    <insert id="insertBom" parameterType="com.yedam.scm.vo.BomVO">
        INSERT INTO BOM (BOM_ID, BOM_VERSION, EFFECTIVE_DATE, EXPIRE_DATE, PROD_ID, MAT_ID, CREATED_AT, QTY)
        VALUES (next_code('BOM'), #{bomVer}, #{effectiveDate}, #{expireDate}, #{prodId}, #{matId}, #{createdAt}, #{qty})
    </insert>

    <!-- BOM 수정 -->
    <update id="updateBom" parameterType="com.yedam.scm.vo.BomVO">
        UPDATE BOM
        SET MAT_ID = #{matId},
            QTY = #{qty},
            EFFECTIVE_DATE = #{effectiveDate},
            EXPIRE_DATE = #{expireDate}
        WHERE BOM_ID = #{bomId}
    </update>

    <!-- BOM 삭제 -->
    <delete id="deleteBom" parameterType="string">
        DELETE FROM BOM WHERE BOM_ID = #{bomId}
    </delete>

</mapper>
