<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.scm.order.mapper.BranchDashMapper">

  <!-- 일별 -->
<select id="selectDailySales" resultType="map">
  SELECT TO_CHAR(order_date, 'YYYY-MM-DD') AS LABEL,
         SUM(total_price) AS AMOUNT
  FROM sales_order
  WHERE vendor_id = #{vendorId}
    AND order_date <![CDATA[ >= ]]> TRUNC(SYSDATE) - 30
    AND order_date <![CDATA[ <= ]]> TRUNC(SYSDATE)
  GROUP BY TO_CHAR(order_date, 'YYYY-MM-DD')
  ORDER BY LABEL
</select>



  <!-- 주별 -->
  <select id="selectWeeklySales" resultType="map">
    SELECT TO_CHAR(TRUNC(order_date, 'IW'), 'YYYY-MM-DD') AS LABEL,
           SUM(total_price) AS AMOUNT
    FROM sales_order
    WHERE vendor_id = #{vendorId}
      AND order_date <![CDATA[ >= ]]> ADD_MONTHS(TRUNC(SYSDATE), -3)
    GROUP BY TRUNC(order_date, 'IW')
    ORDER BY LABEL
  </select>

  <!-- 월별 -->
  <select id="selectMonthlySales" resultType="map">
    SELECT TO_CHAR(TRUNC(order_date, 'MM'), 'YYYY-MM-DD') AS LABEL,
           SUM(total_price) AS AMOUNT
    FROM sales_order
    WHERE vendor_id = #{vendorId}
      AND order_date <![CDATA[ >= ]]> ADD_MONTHS(TRUNC(SYSDATE), -12)
    GROUP BY TRUNC(order_date, 'MM')
    ORDER BY LABEL
  </select>

  <!-- 연별 -->
  <select id="selectYearlySales" resultType="map">
    SELECT TO_CHAR(TRUNC(order_date, 'YYYY'), 'YYYY-MM-DD') AS LABEL,
           SUM(total_price) AS AMOUNT
    FROM sales_order
    WHERE vendor_id = #{vendorId}
    GROUP BY TRUNC(order_date, 'YYYY')
    ORDER BY LABEL
  </select>

</mapper>
