<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.scm.product.mapper.InboundMapper">

  
  <!-- ===== resultMap: DB 컬럼명 → VO 필드명 매핑 (AS 없이) ===== -->
  

   <!-- LOT 목록 조회 -->
  <select id="selectInboundLots"
          resultType="com.yedam.scm.vo.ProductLotVO">
 SELECT
      pl.prod_no,
      pl.prod_id,
      pl.pro_qty,
      pl.mat_status,
      pl.pro_date + p.exp end_date,
      pl.pro_date,
      p.prod_name,
      p.spec,
      p.unit
    FROM product_plan_detail pl
      JOIN product p
        ON p.prod_id = pl.prod_id
        where mat_status = '입고대기' 
      <if test="prodId != null and prodId != ''">
        AND pl.prod_id = #{prodId}
      </if>
      <if test="prodName != null and prodName != ''">
        AND p.prod_name LIKE '%' || #{prodName} || '%'
      </if>
      <if test="endDate != null">
        AND TRUNC(pl.pro_date) = TRUNC(#{endDate})
      </if>
      <if test="prodNo != null and prodNo != ''">
        AND pl.prod_no = #{prodNo}
      </if>
    ORDER BY pl.prod_No DESC
  </select>

              <update id="updateInbound" parameterType="com.yedam.scm.vo.ProductLotVO">
                UPDATE Product_LOT
                SET
                  total_qty     = #{totalQty},
                  remain_qty    = NVL(remain_qty,0) + #{totalQty},
                  transfer_date = NVL(#{transferDate}, SYSDATE),
                  <!-- wh_id         = #{whId}, -->
                  status        = 'Y'
                WHERE prd_lot = #{prdLot}
              </update>

  
 
  <!-- 프로시저 호출 -->
  <select id="callInsertInbound" parameterType="map" statementType="CALLABLE">
    { call INSERT_INBOUND(
        #{prodNo,     mode=IN, jdbcType=VARCHAR},
        #{whId,       mode=IN, jdbcType=VARCHAR},
        #{totalQty,   mode=IN, jdbcType=NUMERIC},
        #{employeeId, mode=IN, jdbcType=VARCHAR},
        #{rowCount,   mode=OUT, jdbcType=NUMERIC}
      ) }
  </select>



  <!-- 입고 삭제 -->
  <delete id="deleteInbound" parameterType="string">
    DELETE FROM Product_LOT WHERE prd_lot = #{prdLot}
  </delete>

  


</mapper>
