<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.scm.login.mapper.LoginMapper">

  <select id="selectAccountByEmailAndPassword" parameterType="LoginDTO" resultType="LoginRes">
    SELECT account_id,
           password_hash,
           code,
           name,
           temp_password,
           division as role
      FROM account
      WHERE email = #{email}
        AND is_active = 'Y'
  </select>

  <update id="updateAccountPassword">
    UPDATE account
    SET password_hash = #{password},
        temp_password = 'N'
    WHERE account_id = #{accountId}
  </update>
  
  <select id="selectAccountByAccountId" resultType="LoginRes">
    SELECT account_id,
           code,
           name,
           phone,
           temp_password,
           division as role
      FROM account
      WHERE account_id = #{accountId}
        AND is_active = 'Y'
  </select>

</mapper>
