<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.scm.purchaseMat.mapper.PurchaseMatMapper">

    <!-- 1. 생산계획 등록 -->
    <!-- 1. 생산계획 마스터 등록 -->
    <insert id="insertProductionPlan" parameterType="ProductionPlanVO">
        <!-- 시퀀스 먼저 뽑아서 VO.planId 에 세팅 -->
        <selectKey keyProperty="planId" resultType="long" order="BEFORE">
            SELECT seq_product_plan.NEXTVAL FROM dual
        </selectKey>
        INSERT INTO product_plan (
            pl_id,
            start_date,
            end_date,
            plan_no,
            emp_name
        )
        VALUES (
            #{planId},               -- selectKey로 얻은 값
            #{startDate},
            #{endDate},
            NEXT_DATE_CODE('PP'),    -- 커스텀 코드 함수 (있다면)
            #{empName}
        )
    </insert>

    <!-- 2. 생산계획 디테일 등록 -->
    <insert id="insertProductionPlanDetail" parameterType="PrdPlanDetailVO">
        <selectKey keyProperty="detailId" resultType="long" order="BEFORE">
            SELECT seq_product_plan_detail.NEXTVAL FROM dual
        </selectKey>
        INSERT INTO product_plan_detail (
            detail_id,
            plan_id,
            product_code,
            product_name,
            qty,
            unit,
            plan_date
        )
        VALUES (
            #{detailId},
            #{planId},          -- FK (마스터 PK)
            #{productCode},
            #{productName},
            #{qty},
            #{unit},
            #{planDate}
        )
    </insert>

</mapper>


