<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.scm.purchaseMat.mapper.PurchaseMatMapper">
<!--중첩VO 정의-->
<!--생산계획상세 + 제품마스터테이블-->
<resultMap id="PrdPlanDetailMap" type="PrdPlanDetailVO">
  <id property="plDetId" column="pl_det_id"/>
  <result property="prodId" column="prod_id"/>
  <result property="proQty" column="pro_qty"/>
  <result property="proDate" column="pro_date"/>
  <result property="plId" column="pl_id"/>
  <result property="matStatus" column="mat_status"/>
  <result property="prodNo" column="prod_no"/>
  <result property="mprStatus" column="mpr_status"/>

  <association property="productVO" resultMap="com.yedam.scm.common.CommonMapper.ProductMap"/>
</resultMap>

<!--mrp상세-->
<resultMap id="MrpDetailMap" type="MrpDetailVO">
  <id property="mrpDetId" column="mrp_det_id"/>
  <result property="matId" column="mat_id"/>
  <result property="needsQty" column="needs_qty"/>
  <result property="status" column="status"/>
  <result property="mrpId" column="mrp_id"/>

  <association property="materialVO" resultMap="com.yedam.scm.common.CommonMapper.MaterialMap"/>
</resultMap>

<!--자재별거래처-->
<resultMap id="MatVendorMap" type="MatVendorVO">
    <result property="matVendorId" column="MAT_VENDOR_ID"/>
    <result property="contractPrice" column="CONTRACT_PRICE"/>
    <result property="matId" column="MAT_ID"/>
    <result property="vendorId" column="VENDOR_ID"/>
    <result property="createdBy" column="CREATED_BY"/>
    <result property="createdAt" column="CREATED_AT"/>
    <result property="status" column="STATUS"/>

    <association property="materialVO" resultMap="com.yedam.scm.common.CommonMapper.MaterialMap"/>
    <association property="vendorVO" resultMap="com.yedam.scm.common.CommonMapper.VendorMap"/>
</resultMap>

<!--자재주문-->
<resultMap id="PurchaseMatMap" type="PurchaseMatVO">
    <id property="purId" column="PUR_ID"/>
    <result property="matId" column="MAT_ID"/>
    <result property="reqQty" column="REQ_QTY"/>
    <result property="outTotalQty" column="OUT_TOTAL_QTY"/>
    <result property="purMatStatus" column="PUR_MAT_STATUS"/>
    <result property="resonComm" column="RESON_COMM"/>
    <result property="mrpDetId" column="MRP_DET_ID"/>
    <result property="vendorId" column="VENDOR_ID"/>
    <result property="empName" column="EMP_NAME"/>
    <result property="regDate" column="REG_DATE"/>
    <result property="purNo" column="PUR_NO"/>
    <result property="total" column="TOTAL"/>
    <result property="dueDate" column="DUE_DATE"/>

    <association property="materialVO" resultMap="com.yedam.scm.common.CommonMapper.MaterialMap"/>
    <association property="purStatusLogVO" resultMap="com.yedam.scm.common.CommonMapper.PurStatusLogMap"/>
    <association property="vendorVO" resultMap="com.yedam.scm.common.CommonMapper.VendorMap"/>
</resultMap>

    <!-- ##생산계획 등록 -->
    <!-- 1. 생산계획 마스터 등록 -->
    <insert id="insertProductionPlan" parameterType="ProductionPlanVO">
        <!-- 시퀀스 먼저 뽑아서 VO.planId 에 세팅 -->
        <selectKey keyProperty="plId" resultType="long" order="BEFORE">
            SELECT seq_product_plan.NEXTVAL FROM dual
        </selectKey>
        INSERT INTO product_plan (
            pl_id,
            start_date,
            end_date,
            plan_no,
            emp_name,
            plan_type,
            memo
        )
        VALUES (
            #{plId},               <!-- selectKey로 얻은 값 -->
            #{startDate},
            #{endDate},
            NEXT_DATE_CODE('PP'),    <!-- 커스텀 코드 함수 (있다면) -->
            #{empName},
            #{planType},
            #{memo}
        )
    </insert>

    <!-- 2. 생산계획 디테일 등록 -->
    <insert id="insertProductionPlanDetail" parameterType="PrdPlanDetailVO">
        <selectKey keyProperty="plDetId" resultType="long" order="BEFORE">
            SELECT seq_product_plan_detail.NEXTVAL FROM dual
        </selectKey>
        INSERT INTO product_plan_detail (
           pl_det_id,
           prod_id,
           pro_qty, 
           pro_date,  
           pl_id,  
           prod_no 
        )
        VALUES (
            #{plDetId},
            #{prodId},         
            #{proQty},
            #{proDate},
            #{plId},
             NEXT_DATE_CODE('PNO') <!--제품LOT번호-->
        )
    </insert>
    <!--#자재요청-->
    <!--생산계획마스터-->
    <select id="getPlanMasterList" resultType="ProductionPlanVO">
    SELECT pl_id, 
           start_date,
           end_date,
           plan_no,
           plan_type,
           memo,
           emp_name,
           re_date
    FROM product_plan
    </select>

    <!--생산계획디테일-->
    <select id="getPlanList" resultMap="PrdPlanDetailMap">
    SELECT ppd.prod_id,
           ppd.pro_date,
           ppd.prod_no,
           po.prod_name,
           ppd.pro_qty,
           po.unit
    FROM product_plan_detail ppd
    JOIN product po
    ON ppd.prod_id = po.prod_id
    WHERE ppd.mpr_status = 'pp0'
    AND po.status = '사용'
    </select>

    <!--mrp목록-->
    <select id="getMrpDetailList" resultMap="MrpDetailMap">
    SELECT md.mrp_det_id,
           md.mat_id,
           md.needs_qty,
           m.mat_name,
           m.unit,
           m.lead_time
    FROM mrp_detail md
    JOIN material m
    ON md.mat_id = m.mat_id
    WHERE req_status = 're0'
    </select>

    <select id="getMatVendorList" parameterType="string" resultMap="MatVendorMap">
    SELECT mv.vendor_id,
           v.company_name,
           mv.contract_price
    FROM material_vendor mv
    JOIN vendor v
    ON mv.vendor_id = v.vendor_id
    Where mv.mat_id = #{matId}
    </select>

    <!--자재주문프로시저-->
       <select id="callReqestMatProc" parameterType="PurchaseMatVO" statementType="CALLABLE">
        { call PROC_REQ_MATERIAL(
            #{matId,    mode=IN, jdbcType=VARCHAR},  
            #{reqQty,   mode=IN, jdbcType=NUMERIC},  
            #{vendorId, mode=IN, jdbcType=VARCHAR}, 
            #{total,    mode=IN, jdbcType=NUMERIC},  
            #{dueDate,  mode=IN, jdbcType=DATE},     
            #{mrpDetId, mode=IN, jdbcType=NUMERIC},  
            #{empName,  mode=IN, jdbcType=VARCHAR}   
        )}
    </select>

    <!--자재주문목록-->
    <select id = "getPurchaseList" resultMap="PurchaseMatMap">
    SELECT pm.pur_id,
           pm.reg_date,
           pm.pur_no,
           pm.req_qty,
           m.mat_name,
           v.company_name,
           pm.pur_mat_status,
           pm.emp_name
    FROM purchase_mat pm
    JOIN material m
    ON pm.mat_id = m.mat_id
    JOIN vendor v
    ON pm.vendor_id = v.vendor_id
    </select>
    <!--자재주문상세이력-->
    <select id ="getPurchaseStatus" parameterType="long" resultType = "PurStatusLogVO">
    SELECT psl.re_date,
           psl.name,
           psl.pur_mat_status,
           NVL(psl.sup_out_qty,0) as sup_out_qty
    FROM purchase_status_log psl
    WHERE pur_id = #{purId}
    ORDER BY re_date DESC
    </select>
<!--드롭다운/모달용===============================================================================-->
<!--제품목록-->
<select id="getProductList" resultType="ProductVO">
    SELECT prod_id,
           prod_name,
           unit
    FROM product
    WHERE status = '사용'
</select>

</mapper>


